<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Daftar User</title>
      <link rel="stylesheet" href="assets/css/style.css" />
   </head>
   <body>
      <%- include('../../components/navbar')%>
      <a href="/users/create">Register</a>
      <h1>Daftar User</h1>
      <ul>
         <% if(users.length > 0){%> <% users.forEach(function(user){ %>
         <li><%= user.name.toUpperCase()%></li>
         <li><%= user.email%></li>
         <% }); %> <% } else { %>
         <p>Data user kosong</p>
         <% } %>
      </ul>
      <footer>
         <p>&copy; 2022 Muhammad Hannan</p>
      </footer>
   </body>
</html>
